
.title {
    color: white;
}

.titleBar {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%);
    margin: 5px;
}


#carousel {
    width: 100%;
    height: 290px;    
    overflow: auto;
    white-space:nowrap;
}

.slide {
    display: inline;
    position: relative;
}
