.headerClass {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.headerLogo {
    background-color: #ff7f7f;
    height: 35px;
    animation: rotateImg 8s infinite;
}

@keyframes rotateImg {
    50% {
        transform: rotateY(360deg);
    }
}